html{
    height:100px;
}
head{
    min-height:100%;
}
body{
    overflow-x:hidden;
    background-image: linear-gradient(to bottom right, rgba(234, 115, 238, 0.925), rgb(89, 162, 247));
    height:1000px;
  }
  
 .safari::-webkit-scrollbar{
     display: none;
 }

 .size{
   height:300px;
 }
  .hamburger_wrapper {
    padding: 5px;
    z-index: 10;
    background-image: linear-gradient(to bottom right, rgba(234, 115, 238, 0.925), rgb(89, 162, 247));
    height: 8%;
  }
  
  #hamburger {
    width: 60px;
    height: 45px;
    position: relative;
    cursor: pointer;
    outline: visible;
  
  }
  #hamburger span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background:#f6f6f7;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
  }
  
  #hamburger span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
  }
  
  #hamburger span:nth-child(2) {
    top: 21px;
    transform-origin: left center;
  }
  
  #hamburger span:nth-child(3) {
    top: 42px;
    transform-origin: left center;
  }
  
  #hamburger.close span:nth-child(1) {
    transform: rotate(45deg);
  }
  
  #hamburger.close span:nth-child(2) {
    width: 0%;
    opacity: 0;
    transition: .1s;
  }
  
  #hamburger.close span:nth-child(3) {
    transform: rotate(-45deg);
  }
  #nav-menu {
    position: relative;
    transform: translateX(-100vw);
    opacity: 0;
    z-index: 10;
    transition: transform .5s ease, opacity ease .2s;
    text-decoration: none;
    color: red;
  }
  
  #nav-menu.now-active {
    transform: translateX(0);
    transition: transform .5s ease, opacity ease .2s;
    opacity: 1;
    background-image: linear-gradient(to bottom right, rgba(34, 11, 36, 0.925), rgb(89, 162, 247));
    color: white;
  }
  
  .nav-list {
    padding: 10px;
    list-style-type: none;
    font-size: 2em;
    text-decoration: none;
    font-family: Arial;
    text-decoration: none;
  
  }
  .dropdown-content a:hover {
    background-color: #f1f1f1;
    text-decoration: none;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    text-decoration :none;
  
  }
  
  .square {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 75%;
    background-image: linear-gradient(to bottom right, rgba(252, 252, 252, 0.925), rgb(196, 196, 196));
    font-family:Arial;
    border: solid rgb(197, 193, 193) 1px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    animation: fadeIn 3s;
  }
  
  .square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
   
  }

  .footer {
    position: sticky;
    left: 0;
    bottom: -2000px;
    width: 100%;
    height: 110%;
    background-image: linear-gradient(to bottom right, rgba(234, 115, 238, 0.925), rgb(89, 162, 247));
    color: white;
    text-align: center;
  }

  .btn {
    background-color: transparent;
    border: solid white 1px;
    border-radius: 25px;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .btn:hover {
    background-color: white;
    color: purple;
    border: solid white 1px;
  }
  
  @media screen and (max-width: 700px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }
  * {
    margin: 0;
    padding: 0; 
  }
  
  
  
